body{
    background: teal;
    padding: 30px;
    font-size: 16pt;
}
h1{
    text-align: center  ;
    color: rgb(240, 236, 236);
}
a{
    text-decoration: none;
    color: rgb(226, 171, 175);
}
p{
    color: blanchedalmond;
    margin: 10%;
    
}
